body {
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

#title {
  font-size: 46px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
}

#title::first-letter {
  font-size: 44px;
}

#subtitle, footer {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 14px;
}

#container {
  width: 100%;
  text-align: center;
  margin: 44px auto 0px auto;
}

#viewer-container {
  margin: 50px auto 100px auto;
  clear: both;
  zoom: 1;
  overflow: hidden;
  width: 100%;
}

#viewer-l {
  float: left;
  margin-left: 10%;
  width: 450px;
  height: 300px;
  border: 4px dashed #ccc;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

#viewer-r {
  float: right;
  margin-right: 10%;
  width: 450px;
  height: 300px;
  border: 4px dashed #ccc;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
}

#viewer.dragover {
  border: 5px dashed #555;
}

#droparea-text {
  z-index: 0;
  margin-top: 130px;
  font-size: 25px;
  font-weight: bold;
  color: #555;
}

form {
  margin: 30px auto 0px auto;
  font: 14px Arial;
}

#file {
  text-align: center;
}
#submit {
  text-align: center;
}

#preview {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

#annotations {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
}

#progress {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #aaa;
}

#drawing {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 42px;
}

#name {
  text-align: center;
  color: blue;
}

footer {
  margin-top: 80px;
  text-align: center;
  font-size: 13px;
  text-align: center;
  color: grey;
}

footer a {
  color: grey;
}


#note {
  margin-top: 24px;
}

#limit-note {
  font-style: italic;
}

#js-note {
  margin-top: 6px;
}

@font-face {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
}